.dimm{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    z-index: 1;
    display: none;
}

i.loader {
  height: 2em;
    width: 2em;
    border-radius: 100%;
    background: #BDD0DD;
    display: block;
    margin: 40% auto;
    position: relative;
    animation: spin 2s ease infinite;
}
i.loader:before, i.loader:after {
  content: '';
  display: block;
  position: absolute;
  height: inherit;
  width: inherit;
  background: inherit;
  border-radius: inherit;
  animation: spin 2s ease infinite;
}
i.loader:before {
  left: -2.3em;
}
i.loader:after {
  left: 2.3em;
}

@keyframes spin {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  50% {
    top: -4em;
    transform: rotate(-180deg);
  }
  100% {
    top: 0;
    transform: rotate(-360deg);
  }
}