/*
    Created on : Feb 13, 2017, 3:33:22 PM
    Author     : muhammad wardany <muhammad.wardany@gmail.com>
*/


.btn-social {
    overflow: hidden;
    padding-left: 44px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-social > *:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
}

.disable_over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
.sortable-field > .form-group{
    background: #efefef none repeat scroll 0 0;
    border: 2px dashed #dbdbdb;
    border-radius: 7px;
    padding: 10px 10px;
    margin: 10px 0;
    position: relative;
}
.sortable-field > .form-group, .sortable-field > .form-group *{
    cursor: move;
}
.sortable-field > .form-group:hover{
    background: #ebebeb none repeat scroll 0 0;
}
.overlay_settings{
    right: 10px;
    z-index: 3;
    position: absolute;
    display: none;
    transition: all .5s ;
    opacity: .5;
}

.overlay_settings>a{
    padding-left: 7px;
}
.overlay_settings a:hover, .overlay_settings span:hover{
    cursor: pointer;
}
.sortable-field:hover .overlay_settings{
    display: block;
    opacity: .8;
}
.grab-field{
    cursor: grab;
}
.dynamic_inputs_container{
    border: 2px solid #ddd;
    padding: 0 10px;
    border-radius: 10px;
    background: #f1f1f1;
}
